.card_holder_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem 4rem;
  background: rgb(1, 37, 64);
  background: linear-gradient(
    180deg,
    rgba(1, 37, 64, 1) 40%,
    rgba(7, 27, 36, 1) 100%
  );
}

.card_holder_team h2 {
  text-align: center;
  margin-top: 2rem;
}

.contributors {
  font-size: 3rem;
  text-align: center;
  color: #ffc436;
  border-bottom: 1px solid #ffc436;
}

.team_card {
  background: #1f4282;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #3881db;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  transition: all 0.3s ease;
  max-width: 180px;
  line-height: 1.7;
  width: 100%;
  min-height: 70px;
  text-decoration: none;
}

.team_card:hover {
  transform: scale(1.02);
}

.team_con {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  justify-content: space-evenly;
}
