.card_holder_patron {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(205, 230, 251, 1);
  padding: 2rem 1rem;
  align-items: center;
}
.card_holder_patron h2 {
  color: #262626;
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid #262626;
  font-family: "Share Tech", sans-serif;
}

.workshop_con {
  display: flex;
  gap: 2rem;
}

.card-client {
  background: #1f4282;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #1a3556;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  transition: all 0.3s ease;
  min-width: 270px;
  line-height: 2;
  min-height: 300px;
  text-decoration: none;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture img {
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  border: 2px solid #24364b;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.info_container {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .workshop_con {
    flex-direction: column;
    gap: 1rem;
  }
}
