#registration {
    background-color: #183D3D;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #3b2e70;
    border-bottom: 1px solid #3b2e70;
    padding: 20px 0px;
    background-color: rgb(16, 34, 60);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.278);
    text-align: center;
}

.tableCellStyle {
    background-color: #FFCD4B;
}

.table-responsive {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    overflow-x: auto;
}

.headingStyle {
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
}

.yellowHeadingStyle {
    margin: 20px 0px 10px 0px;
    color: #FFCD4B;
}

.list-inside{
    text-align: left;
}

.linkStyle {
    color: #FE7BE5;
}

@media screen and (max-width: 768px) {
    .bodyStyle {
        padding: 20px;
    }

    .text-xl {
        font-size: 1.25rem;
    }

    .w-1-2 {
        width: 100%;
    }

    .mt-4 {
        margin-top: 1rem;
    }

    .table-auto {
        width: -moz-fit-content;
        width: fit-content;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }
}