#speakers {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #1f4282;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.278);
  border-radius: 1rem;
  max-width: 1080px;
  text-align: center;
}


#speaker_container {
  width: 100%;
  padding: 3rem 0;
  background-color: rgb(205, 230, 251);
}

.heading {
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5;
  display: inline;
  font-size: 3rem;
  color: #ffc436;
  border-bottom: 1px solid #ffc436;
}

#speakers .heading {
  margin-bottom: 25px;
}