#speakers {
    margin: 50px auto;
    border-top: 1px solid #3b2e70;
    border-bottom: 1px solid #3b2e70;
    padding: 20px 0px;
    background-color: rgb(16, 34, 60);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.278);
    max-width: 1080px;
}

#speakers .heading {
    margin-bottom: 25px;
}

.embla {
    overflow: hidden;
    display: flex;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 9%;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academic .embla__slide {
    flex: 0 0 25%;
}

.industry .embla__slide {
    flex: 0 0 15%;
}