

.footer {
  position: relative;
  width: 100%;
  background: #0F2C59;
  min-height: 70px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer p{
  letter-spacing: 2px;
  color: rgb(196, 205, 213);
}


.footer a{
  text-decoration: none;
  color: inherit;
}
